*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

a {
	text-decoration: none;
}

body {
	position: relative;
	background: #082947;
}

body.white {
	background: white;	
}

/* -------------------------------- 

Backgrounds

-------------------------------- */

.bg-red {
	width: 100%;
	height: 240px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	background: #ff4040;
}

/* -------------------------------- 

LOGIN | SIGN UP

-------------------------------- */

.grid-login {
	width: calc(100% - 40px);
	max-width: 490px;
	padding: 0 20px;
	margin: 0 auto;
}

.content-header {
	color: white;
	font-family: "Galano Bold", sans-serif;
	font-size: 29px;
	line-height: 60px;
	text-align: center;
	position: relative;
	top: -3px;
	letter-spacing: 0.003em;
	margin: 0 auto;
}

.content-header h1 {
	padding: 48px 0 12px;
}

.content-body {
	-webkit-transition: box-shadow 0.3s ease-in-out;
	transition: box-shadow 0.3s ease-in-out;
	box-shadow: 0 2px 12px rgba(8, 41, 71, 0.12);
	border-radius: 4px;
	padding: 24px 20px;
	margin-bottom: 24px;
	background: white;
}

.content-body .logo {
	width: 100%;
	text-align: center;
	margin-bottom: 24px;
}

.logo img {
	width: 48px;
	height: 92px;
}

.content-body .form {
	display: block;
	margin-top: 0em;
}

.form-group {
	margin-bottom: 36px;
}

.form-group label {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: rgba(8, 41, 71, 0.6);
	margin-left: 2px;
	line-height: 24px;
	position: relative;
	top: -4px;
}

.form-control {
	font-family: "Galano Semibold", sans-serif;
	font-weight: 400;
	font-size: 14px;

	color: rgba(8, 41, 71, 0.8);

	background: rgba(8, 41, 71, 0.05);
	box-shadow: none;
	
	display: block;
	width: 100%;
	height: 60px;

	padding: 0 20px;
	border: 0;

	-webkit-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

.form-control:hover {
	background: rgba(8, 41, 71, 0.1);
}

.btn-wrapper {
	margin: 24px 0 0;
	text-align: center;
}

.btn {
	font-family: "Galano Bold", sans-serif;
	padding: 0 20px;
	min-width: 140px;

	font-size: 16px;
	line-height: 60px;
	border-radius: 4px;
	border: 0px solid transparent;

	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
}

.btn.btn-success {
	color: #fff;
	background: #ff4040;
}

.btn.btn-success:hover {
	background: rgba(255, 64, 64, 0.8);
}

.btn.btn-social {
	color: #fff;
	font-weight: normal;
	width: calc(50% - 10px);
	padding: 0;
	height: 60px;
	overflow: hidden;
	position: relative;
}

.btn.btn-social .btn-content {
	-webkit-transition: top 0.3s ease-in-out;
	transition: top 0.3s ease-in-out;
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	text-align: center;
}

.btn.btn-social:hover .btn-content {
	top: -60px;
}

.btn.btn-social .btn-label {
	width: 100%;
	line-height: 60px;
	height: 60px;
}

.btn.btn-google {
	background: #3cba54;
}

.btn.btn-google .icon-google {
	width: 100%;
	height: 60px;
	display: block;
	background: url(images/icon-google-white.png) no-repeat center center;
	background-size: 24px 24px;
}

.btn.btn-facebook {
	background: #3b5998;
}

.btn.btn-facebook .icon-16-facebook {
	font-size: 24px;
	line-height: 60px;
	display: block;
}

.info-small {
	color: rgba(8, 41, 71, 0.4);
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	margin: 12px 0 18px;
	padding: 0;
	font-family: "Galano Semibold", sans-serif;
	font-weight: 400;
	position: relative;
	top: -1px;
	letter-spacing: 0.003em;
}

.info-small a {
	-webkit-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	font-family: "Galano Semibold", sans-serif;
	color: #ff4040;
	font-weight: 400;
}

.info-small a:hover {
	color: rgba(255, 64, 64, 0.6);
}

.info-small.social {
	margin: -10px 0 10px;
	line-height: 36px;
	letter-spacing: 0em;
}

.col-flex-row-spacebetween-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


/* -------------------------------- 

PRODUCT LIST

-------------------------------- */


/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-header {
	position: relative;
	height: 96px;
	background-color: #ff4040;
}

.cd-header .logo {
	position: absolute;
	left: 50%;
	bottom: -8px;
	transform: translateX(-50%);
	width: 48px;
	height: 72px;
	overflow: hidden;
	z-index: 300;
}


.cd-header h1 {
	font-family: "Galano Bold", sans-serif;
	color: #ffffff;
	line-height: 96px;
	text-align: center;
	font-size: 29px;
	font-weight: 300;
}
@media only screen and (min-width: 1170px) {
	.cd-header {
		height: 96px;
	}
	.cd-header h1 {
		line-height: 180px;
	}
}

.cd-main-content {
	position: relative;
	min-height: 100vh;
}
.cd-main-content:after {
	content: "";
	display: table;
	clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
	padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
	position: fixed;
	height: 100vh;
	overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
	height: 100vh;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
	position: fixed;
}
@media only screen and (min-width: 768px) {
	.cd-main-content.is-fixed .cd-gallery {
		padding-top: 90px;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-main-content.is-fixed .cd-gallery {
		padding-top: 100px;
	}
}

/* -------------------------------- 

xtab-filter 

-------------------------------- */
.cd-tab-filter-wrapper {
	background-color: #ffffff;
	box-shadow: 0 1px 1px rgba(8, 41, 71, 0.1);
	z-index: 100;
}
.cd-tab-filter-wrapper:after {
	content: "";
	display: table;
	clear: both;
}

.cd-tab-filter {
	/* tabbed navigation style on mobile - dropdown */
	position: relative;
	height: 50px;
	width: 140px;
	margin: 0 auto;
	z-index: 1;
}
.cd-tab-filter::after {
	/* small arrow icon */
	content: '';
	position: absolute;
	right: 14px;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("ch-img/cd-icon-arrow.svg") no-repeat center center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}
.cd-tab-filter ul {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffffff;
	box-shadow: inset 0 -2px 0 #41307c;
}
.cd-tab-filter li {
	display: none;
}
.cd-tab-filter li:first-child {
	/* this way the placehodler is alway visible */
	display: block;
}
.cd-tab-filter a {
	font-family: "Galano Bold", sans-serif;
	color: rgba(8, 41, 71, 0.4);
	font-size: 14px;
	display: block;
	/* set same size of the .cd-tab-filter */
	height: 50px;
	width: 140px;
	line-height: 50px;
	padding-left: 14px;
}
.cd-tab-filter a.selected {
	background-color: #ff4040;
	color: #ffffff;
}
.cd-tab-filter.is-open::after {
	/* small arrow rotation */
	-webkit-transform: translateY(-50%) rotate(-180deg);
	-moz-transform: translateY(-50%) rotate(-180deg);
	-ms-transform: translateY(-50%) rotate(-180deg);
	-o-transform: translateY(-50%) rotate(-180deg);
	transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
	box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(8, 41, 71, 0.2);
}
.cd-tab-filter.is-open ul li {
	display: block;
}
.cd-tab-filter.is-open .placeholder a {
	/* reduces the opacity of the placeholder on mobile when the menu is open */
	opacity: .4;
}
@media only screen and (min-width: 768px) {
	.cd-tab-filter {
		/* tabbed navigation style on medium devices */
		width: auto;
		cursor: auto;
	}
	.cd-tab-filter::after {
		/* hide the arrow */
		display: none;
	}
	.cd-tab-filter ul {
		background: white;
		position: static;
		box-shadow: none;
		text-align: center;
		z-index: 100;
	}
	.cd-tab-filter li {
		display: inline-block;
	}
	.cd-tab-filter li.placeholder {
		display: none !important;
	}
	.cd-tab-filter a {
		display: inline-block;
		padding: 0 20px;
		width: auto;
		color: rgba(8, 41, 71, 0.4);
		text-transform: capitalize;
		font-size: 14px;
	}
	.no-touch .cd-tab-filter a:hover {
		color: #ff4040;
	}
	.cd-tab-filter a.selected {
		background: transparent;
		color: #ff4040;
	}
	.cd-tab-filter.is-open ul li {
		display: inline-block;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-tab-filter {
		/* tabbed navigation on big devices */
		width: 100%;
		float: right;
		margin: 0;
		-webkit-transition: width 0.3s;
		-moz-transition: width 0.3s;
		transition: width 0.3s;
	}
}

/* -------------------------------- 

xgallery 

-------------------------------- */
.cd-gallery {
	padding: 26px 0;
	width: 92vw;
	margin: 0 auto;
}

.cd-gallery li {
	box-shadow: 0 2px 12px rgba(8, 41, 71, 0.12);
	display: none;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.cd-gallery li .blur {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(8, 41, 71, 0.6);
	transition: all 0.3s;
}

.cd-gallery li:hover .blur {
	opacity: 1;
}

.cd-gallery li .bottom-info {
	opacity: 0;
	position: absolute;
	bottom: -60px;
	left: 0;
	z-index: 20;

	background: white;
	display: block;

	text-align: center;
	vertical-align: middle;
	width: 100%;
	padding: 0 20px;
	height: 60px;

	transition: all 0.3s;
}

.cd-gallery li:hover .bottom-info {
	opacity: 1;
	bottom: 0;
}

.cd-gallery li .title {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 20;

	font-family: 'Galano Semibold', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #082947;

	text-align: left;
	vertical-align: middle;
	padding: 0 20px;

	width: 76%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	transition: all 0.3s;
	transform: translateY(-50%);
}

.cd-gallery li:hover .title {
	opacity: 1;
}

.cd-gallery li .price {
	opacity: 0;
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 20;

	font-family: 'Galano Bold', sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: #082947;

	text-align: right;
	vertical-align: middle;
	padding: 0 20px;

	transition: all 0.3s;
	transform: translateY(-50%);
}

.cd-gallery li:hover .price {
	opacity: 1;
}

.cd-gallery li img {
	display: block;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.3s;
}

.cd-gallery li:hover img {
	transform: scale(1.1) translateX(-50%) translateY(-50%);
}

.cd-gallery li .cd-add-to-cart {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 30;

	font-family: 'Galano Semibold', sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: white;

	text-align: center;
	vertical-align: middle;

	transition: all 0.3s;
	transform: translateX(-50%) translateY(-50%);
}

.cd-gallery li:hover .cd-add-to-cart {
	opacity: 1;
}

.cd-gallery .cd-fail-message {
	display: none;
	text-align: center;
	font-family: 'Galano Semibold', sans-serif;
	font-size: 14px;
	color: rgba(8, 41, 71, 0.8);
}

@media only screen and (min-width: 768px) {
	.cd-gallery {
		padding: 40px 0;
	}
	.cd-gallery ul {
		text-align: justify;
	}
	.cd-gallery ul:after {
		content: "";
		display: table;
		clear: both;
	}
	.cd-gallery li {
		width: 39vw;
		height: 39vw;
		margin: 0 1vw 24px;
	}

}
@media only screen and (min-width: 1170px) {
	.cd-gallery {
		padding: 36px 0;
	}

	.cd-gallery li {
		width: 21vw;
		height: 21vw;
		padding: 0;
		margin: 0 1vw 24px;
	}
}

/* -------------------------------- 

xfilter 

-------------------------------- */
.cd-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: #ffffff;
	box-shadow: 4px 4px 20px transparent;
	z-index: 98;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
	-moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
	transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
	/* top colored bar */
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #ff4040;
	z-index: 2;
}
.cd-filter form {
	padding: 70px 20px;
}
.cd-filter .cd-close {
	font-family: 'Galano Semibold', sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	width: 60px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background: #ef3030;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
	background: #32255f;
}
.cd-filter.filter-is-visible {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	box-shadow: 4px 4px 20px rgba(8, 41, 71, 0.2);
}
.cd-filter.filter-is-visible .cd-close {
	opacity: 1;
}
@media only screen and (min-width: 1170px) {
	.cd-filter {
		width: 20%;
	}
	.cd-filter form {
		padding: 70px 10%;
	}
}

.cd-filter-trigger {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	line-height: 50px;
	width: 60px;
	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	color: transparent;
	white-space: nowrap;
	background: transparent url("ch-img/cd-icon-filter.svg") no-repeat center center;
	z-index: 200;
}
.cd-filter-trigger.filter-is-visible {
	/*pointer-events: none;*/
	background: transparent url("ch-img/cd-icon-filter-white.svg") no-repeat center left;
}
@media only screen and (min-width: 1170px) {
	.cd-filter-trigger {
		font-family: 'Galano Bold', sans-serif;
		font-size: 14px;
		width: auto;
		left: 2%;
		text-indent: 0;
		color: #ff4040;
		text-transform: uppercase;
		font-weight: 400;
		padding-left: 24px;
		background-position: left center;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
	}
	.no-touch .cd-filter-trigger:hover {
		color: #ff4040;
	}
	.cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
		color: #ffffff;
	}
}

/* -------------------------------- 

xcustom form elements 

-------------------------------- */
.cd-filter-block {
	margin-bottom: 1.6em;
}
.cd-filter-block h4 {
	/* filter block title */
	font-family: 'Galano Semibold', sans-serif;
	position: relative;
	margin-bottom: .2em;
	padding: 10px 0 10px 20px;
	color: #ff4040;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
	color: #41307c;
}
.cd-filter-block h4::before {
	/* arrow */
	content: '';
	position: absolute;
	left: 0;
	top: 46%;
	width: 16px;
	height: 16px;
	background: url("ch-img/cd-icon-arrow.svg") no-repeat center center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
	-webkit-transform: translateY(-50%) rotate(-90deg);
	-moz-transform: translateY(-50%) rotate(-90deg);
	-ms-transform: translateY(-50%) rotate(-90deg);
	-o-transform: translateY(-50%) rotate(-90deg);
	transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
	/* shared style for input elements */
	font-family: "Galano Semibold", sans-serif;
	border-radius: 0;
	background-color: rgba(8, 41, 71, 0.05);
	color: rgba(8, 41, 71, 0.6);
	border: 0px solid #fff;
}

.cd-filter-block select {
	border-radius: 4px;
}

.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
	width: 100%;
	padding: 12px 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
	outline: none;
	background-color: rgba(8, 41, 71, 0.1);
	border-color: #fff;
}
.cd-filter-block input[type='search'] {
	/* custom style for the search element */
	border-color: transparent;
	background-color: rgba(8, 41, 71, 0.05);
	border-radius: 4px;
	/* prevent jump - ios devices */
	font-size: 12px !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
	display: none;
}
.cd-filter-block .cd-select {
	/* select element wrapper */
	position: relative;
}
.cd-filter-block .cd-select::after {
	/* switcher arrow for select element */
	content: '';
	position: absolute;
	z-index: 1;
	right: 14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
	width: 16px;
	height: 16px;
	background: url("ch-img/cd-icon-arrow-dark.svg") no-repeat center center;
	pointer-events: none;
}
.cd-filter-block select {
	cursor: pointer;
	font-size: 12px;
}
.cd-filter-block select::-ms-expand {
	display: none;
}
.cd-filter-block .list li {
	position: relative;
	margin-bottom: .8em;
}
.cd-filter-block .list li:last-of-type {
	margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
	/* hide original check and radio buttons */
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
	font-family: 'Galano Semibold', sans-serif;
	padding-left: 24px;
	font-size: 12px;
	line-height: 24px;
	color: rgba(8, 41, 71, 0.6);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
	/* custom radio and check boxes */
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
	width: 16px;
	height: 16px;
	left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
	/* check mark - hidden */
	display: none;
}
.cd-filter-block .checkbox-label::after {
	/* check mark style for check boxes */
	width: 16px;
	height: 16px;
	background: url("ch-img/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
	border-radius: 50%;
}
.cd-filter-block .radio-label::after {
	/* check mark style for radio buttons */
	width: 6px;
	height: 6px;
	background-color: #ffffff;
	left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
	border-color: #ff4040;
	background-color: #ff4040;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
	display: block;
}

@-moz-document url-prefix() {
	/* hide custom arrow on Firefox - select element */
	.cd-filter-block .cd-select::after {
		display: none;
	}
}

/* -------------------------------- 

CART

-------------------------------- */

.cd-add-to-cart {
	display: inline-block;
	padding: 1.2em 1.8em;
	background: #2c97de;
	border-radius: 50em;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: .1em;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	-webkit-transition: all .2s;
	transition: all .2s;
}
.cd-add-to-cart:hover {
	background: #42a2e1;
}
.cd-add-to-cart:active {
	-webkit-transform: scale(0.9);
			-ms-transform: scale(0.9);
					transform: scale(0.9);
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-cart-container::before {
	/* dark bg layer visible when the cart is open */
	content: '';
	position: fixed;
	z-index: 400;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .4s, visibility .4s;
	transition: opacity .4s, visibility .4s;
}

.cd-cart-container.cart-open::before {
	opacity: 1;
	visibility: visible;
}

.cd-cart-trigger,
.cd-cart {
	position: fixed;
	bottom: 20px;
	right: 5%;
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
					transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	will-change: transform;
	backface-visibility: hidden;
}
.empty .cd-cart-trigger, .empty
.cd-cart {
	/* hide cart */
	-webkit-transform: translateY(150px);
			-ms-transform: translateY(150px);
					transform: translateY(150px);
}
@media only screen and (min-width: 1170px) {
	.cd-cart-trigger,
	.cd-cart {
		bottom: 40px;
	}
}

.cd-cart-trigger {
	/* button that triggers the cart content */
	z-index: 500;
	height: 72px;
	width: 72px;
	/* replace text with image */
	text-indent: 100%;
	color: transparent;
	white-space: nowrap;
}
.cd-cart-trigger::after, .cd-cart-trigger::before {
	/* used to create the cart/'X' icon */
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
					transform: translateX(-50%) translateY(-50%);
	height: 100%;
	width: 100%;
	background: url(ch-img/cd-icons-cart-close.svg) no-repeat 0 0;
	-webkit-transition: opacity .2s, -webkit-transform .2s;
	transition: opacity .2s, -webkit-transform .2s;
	transition: opacity .2s, transform .2s;
	transition: opacity .2s, transform .2s, -webkit-transform .2s;
}
.cd-cart-trigger::after {
	/* 'X' icon */
	background-position: -72px 0;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
			-ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
					transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.cart-open .cd-cart-trigger::before {
	opacity: 0;
}
.cart-open .cd-cart-trigger::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
					transform: translateX(-50%) translateY(-50%);
}
.cd-cart-trigger .count {
	/* number of items indicator */
	position: absolute;
	top: -10px;
	right: -10px;
	height: 28px;
	width: 28px;
	background: #e94b35;
	font-family: 'Galano Semibold', sans-serif;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	border-radius: 50%;
	text-indent: 0;
	-webkit-transition: -webkit-transform .2s .5s;
	transition: -webkit-transform .2s .5s;
	transition: transform .2s .5s;
	transition: transform .2s .5s, -webkit-transform .2s .5s;
}
.cd-cart-trigger .count li {
	/* this is the number of items in the cart */
	position: absolute;
	-webkit-transform: translateZ(0);
					transform: translateZ(0);
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
					transform: translateX(-50%) translateY(-50%);
}
.cd-cart-trigger .count li:last-of-type {
	visibility: hidden;
}
.cd-cart-trigger .count.update-count li:last-of-type {
	-webkit-animation: cd-qty-enter .15s;
					animation: cd-qty-enter .15s;
	-webkit-animation-direction: forwards;
					animation-direction: forwards;
}
.cd-cart-trigger .count.update-count li:first-of-type {
	-webkit-animation: cd-qty-leave .15s;
					animation: cd-qty-leave .15s;
	-webkit-animation-direction: forwards;
					animation-direction: forwards;
}
.cart-open .cd-cart-trigger .count {
	-webkit-transition: -webkit-transform .2s 0s;
	transition: -webkit-transform .2s 0s;
	transition: transform .2s 0s;
	transition: transform .2s 0s, -webkit-transform .2s 0s;
	-webkit-transform: scale(0);
			-ms-transform: scale(0);
					transform: scale(0);
}
.empty .cd-cart-trigger .count {
	/* fix bug - when cart is empty, do not animate count */
	-webkit-transform: scale(1);
			-ms-transform: scale(1);
					transform: scale(1);
}
.cd-cart-trigger:hover + div .wrapper {
	box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}
.cart-open .cd-cart-trigger:hover + div .wrapper {
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.cd-cart {
	/* cart content */
	z-index: 400;
	width: 90%;
	max-width: 440px;
	height: 400px;
	max-height: 90%;
	pointer-events: none;
}
.cd-cart .wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;
	height: 72px;
	width: 72px;
	border-radius: 6px;
	-webkit-transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
	transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
	-webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
					transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
	background: #ffffff;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
	pointer-events: auto;
}
.cd-cart header, .cd-cart footer {
	position: absolute;
	z-index: 2;
	left: 0;
	width: 100%;
}
.cd-cart header, .cd-cart .body {
	opacity: 0;
}
.cd-cart header {
	top: 0;
	border-radius: 6px 6px 0 0;
	padding: 0 1.4em;
	height: 40px;
	line-height: 40px;
	background-color: #ffffff;
	-webkit-transition: opacity .2s 0s;
	transition: opacity .2s 0s;
	border-bottom: 1px solid #e6e6e6;
}
.cd-cart header::after {
	clear: both;
	content: "";
	display: block;
}
.cd-cart footer {
	bottom: 0;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
	background: #ffffff;
}
.cd-cart h2 {
	font-family: 'Galano Bold', sans-serif;
	text-transform: capitalize;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.003em;
}
.cd-cart .undo {
	font-family: 'Galano Semibold', sans-serif;
	float: right;
	font-size: 12px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .2s, visibility .2s;
	transition: opacity .2s, visibility .2s;
	color: #808b97;
}
.cd-cart .undo a {
	text-decoration: underline;
	color: #2b3e51;
}
.cd-cart .undo a:hover {
	color: #2c97de;
}
.cd-cart .undo.visible {
	opacity: 1;
	visibility: visible;
}
.cd-cart .checkout {
	display: block;
	height: 72px;
	line-height: 72px;
	margin-right: 72px;
	background: #2c97de;
	color: rgba(255, 255, 255, 0);
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	-webkit-transition: all .2s 0s;
	transition: all .2s 0s;
}
.cd-cart .checkout:hover {
	background: #399ee0;
}
.cd-cart .checkout em {
	position: relative;
	display: inline-block;
	-webkit-transform: translateX(40px);
			-ms-transform: translateX(40px);
					transform: translateX(40px);
	-webkit-transition: -webkit-transform 0s .2s;
	transition: -webkit-transform 0s .2s;
	transition: transform 0s .2s;
	transition: transform 0s .2s, -webkit-transform 0s .2s;
}
.cd-cart .checkout em::after {
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
					transform: translateY(-50%);
	right: 0;
	content: '';
	height: 24px;
	width: 24px;
	background: url(ch-img/cd-icon-arrow-next.svg) no-repeat center center;
	opacity: 0;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}
.cd-cart .body {
	position: relative;
	z-index: 1;
	height: calc(100% - 40px);
	padding: 20px 0 10px;
	margin: 40px 0 10px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}
.cd-cart .body ul {
	overflow: hidden;
	padding: 0 1.4em;
	position: relative;
	padding-bottom: 90px;
}
.cd-cart .body li {
	position: relative;
	opacity: 0;
	-webkit-transform: translateX(80px);
			-ms-transform: translateX(80px);
					transform: translateX(80px);
	-webkit-transition: opacity 0s .2s, -webkit-transform 0s .2s;
	transition: opacity 0s .2s, -webkit-transform 0s .2s;
	transition: opacity 0s .2s, transform 0s .2s;
	transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s;
}
.cd-cart .body li::after {
	clear: both;
	content: "";
	display: block;
}
.cd-cart .body li:not(:last-of-type) {
	margin-bottom: 20px;
}
.cd-cart .body li.deleted {
	/* this class is added to an item when it is removed form the cart */
	position: absolute;
	left: 1.4em;
	width: calc(100% - 2.8em);
	opacity: 0;
	-webkit-animation: cd-item-slide-out .3s forwards;
					animation: cd-item-slide-out .3s forwards;
}
.cd-cart .body li.deleted.undo-deleted {
	/* used to reinsert an item deleted from the cart when user clicks 'Undo' */
	-webkit-animation: cd-item-slide-in .3s forwards;
					animation: cd-item-slide-in .3s forwards;
}
.cd-cart .body li.deleted + li {
	-webkit-animation: cd-item-move-up-mobile .3s;
					animation: cd-item-move-up-mobile .3s;
	-webkit-animation-fill-mode: forwards;
					animation-fill-mode: forwards;
}
.cd-cart .body li.undo-deleted + li {
	-webkit-animation: cd-item-move-down-mobile .3s;
					animation: cd-item-move-down-mobile .3s;
	-webkit-animation-fill-mode: forwards;
					animation-fill-mode: forwards;
}
.cd-cart .product-image {
	display: inline-block;
	float: left;
	/* the image height determines the height of the list item - in this case height = width */
	width: 72px;
	max-height: 72px;
	overflow: hidden;
}
.cd-cart .product-image img {
	display: block;
	/*width: 72px;*/
	max-width: 72px;
	min-height: 72px;
}
.cd-cart .product-details {
	font-family: 'Galano Semibold', sans-serif;
	position: relative;
	display: inline-block;
	float: right;
	width: calc( 100% - 72px);
}
.cd-cart .product-details::after {
	clear: both;
	content: "";
	display: block;
}
.cd-cart h3, .cd-cart .price {
	font-weight: bold;
}
.cd-cart h3 {
	width: 70%;
	float: left;
	/* truncate title with dots if too long */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.cd-cart h3 a {
	color: #2b3e51;
}
.cd-cart h3 a:hover {
	color: #2c97de;
}
.cd-cart .price {
	float: right;
	width: 30%;
	text-align: right;
}
.cd-cart .actions {
	font-size: 14px;
	height: 24px;
	line-height: 24px;
}
.cd-cart .actions::after {
	clear: both;
	content: "";
	display: block;
}
.cd-cart .delete-item, .cd-cart .quantity {
	float: left;
	color: #808b97;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cd-cart .delete-item {
	margin-right: 1em;
}
.cd-cart .delete-item:hover {
	color: #e94b35;
}
.cd-cart .quantity label {
	display: inline-block;
	margin-right: .3em;
}
.cd-cart .select {
	position: relative;
}
.cd-cart .select::after {
	/* switcher arrow for select element */
	content: '';
	position: absolute;
	z-index: 1;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
					transform: translateY(-50%);
	display: block;
	width: 12px;
	height: 12px;
	background: url(ch-img/cd-icon-select.svg) no-repeat center center;
	pointer-events: none;
}
.cd-cart select {
	position: relative;
	padding: 0 1em 0 0;
	cursor: pointer;
	-webkit-appearance: none;
		 -moz-appearance: none;
					appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font-size: 12px;
	margin: 0;
	color: #808b97;
}
.cd-cart select:focus {
	outline: none;
	color: #2b3e51;
	box-shadow: 0 1px 0 currentColor;
}
.cd-cart select::-ms-expand {
	/* hide default select arrow on IE */
	display: none;
}
.cart-open .cd-cart .wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition-delay: 0s;
					transition-delay: 0s;
}
.cart-open .cd-cart header, .cart-open .cd-cart .body {
	opacity: 1;
}
.cart-open .cd-cart header {
	-webkit-transition: opacity .2s .2s;
	transition: opacity .2s .2s;
}
.cart-open .cd-cart .body {
	-webkit-transition: opacity 0s;
	transition: opacity 0s;
}
.cart-open .cd-cart .body li {
	-webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
	transition: opacity .3s .2s, -webkit-transform .3s .2s;
	transition: transform .3s .2s, opacity .3s .2s;
	transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
	opacity: 1;
	-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
					transform: translateX(0);
}
.cart-open .cd-cart .body li:nth-of-type(2) {
	-webkit-transition-duration: .4s;
					transition-duration: .4s;
}
.cart-open .cd-cart .body li:nth-of-type(3) {
	-webkit-transition-duration: .5s;
					transition-duration: .5s;
}
.cart-open .cd-cart .body li:nth-of-type(4), .cart-open .cd-cart .body li:nth-of-type(5) {
	-webkit-transition-duration: .55s;
					transition-duration: .55s;
}
.cart-open .cd-cart .checkout {
	color: #ffffff;
	-webkit-transition: color .2s .3s;
	transition: color .2s .3s;
}
.cart-open .cd-cart .checkout em {
	-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
					transform: translateX(0);
	-webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
	transition: padding .2s 0s, -webkit-transform .2s .3s;
	transition: transform .2s .3s, padding .2s 0s;
	transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
}
.cart-open .cd-cart .checkout:hover em {
	padding-right: 30px;
}
.cart-open .cd-cart .checkout:hover em::after {
	opacity: 1;
}
@media only screen and (min-width: 768px) {
	.cd-cart .body li:not(:last-of-type) {
		margin-bottom: 14px;
	}
	.cd-cart .body li.deleted + li {
		-webkit-animation: cd-item-move-up .3s;
						animation: cd-item-move-up .3s;
	}
	.cd-cart .body li.undo-deleted + li {
		-webkit-animation: cd-item-move-down .3s;
						animation: cd-item-move-down .3s;
	}
	.cd-cart .checkout {
		font-size: 20px;
	}
	.cd-cart .product-image {
		width: 72px;
	}
	.cd-cart .product-details {
		padding: 18px 0 0 20px;
		width: calc( 100% - 72px);
	}
	.cd-cart h3 {
		font-size: 16px;
	} 

	.cd-cart .price {
		font-size: 24px;
		margin-top: 1px;
	}
}

@-webkit-keyframes cd-qty-enter {
	0% {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateX(-50%) translateY(0);
						transform: translateX(-50%) translateY(0);
	}
	100% {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(-50%) translateY(-50%);
						transform: translateX(-50%) translateY(-50%);
	}
}

@keyframes cd-qty-enter {
	0% {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateX(-50%) translateY(0);
						transform: translateX(-50%) translateY(0);
	}
	100% {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(-50%) translateY(-50%);
						transform: translateX(-50%) translateY(-50%);
	}
}
@-webkit-keyframes cd-qty-leave {
	0% {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(-50%) translateY(-50%);
						transform: translateX(-50%) translateY(-50%);
	}
	100% {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateX(-50%) translateY(-100%);
						transform: translateX(-50%) translateY(-100%);
	}
}
@keyframes cd-qty-leave {
	0% {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(-50%) translateY(-50%);
						transform: translateX(-50%) translateY(-50%);
	}
	100% {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateX(-50%) translateY(-100%);
						transform: translateX(-50%) translateY(-100%);
	}
}
@-webkit-keyframes cd-item-move-up-mobile {
	0% {
		padding-top: 70px;
	}
	100% {
		padding-top: 0px;
	}
}
@keyframes cd-item-move-up-mobile {
	0% {
		padding-top: 70px;
	}
	100% {
		padding-top: 0px;
	}
}
@-webkit-keyframes cd-item-move-up {
	0% {
		padding-top: 104px;
	}
	100% {
		padding-top: 0px;
	}
}
@keyframes cd-item-move-up {
	0% {
		padding-top: 104px;
	}
	100% {
		padding-top: 0px;
	}
}
@-webkit-keyframes cd-item-move-down-mobile {
	0% {
		padding-top: 0px;
	}
	100% {
		padding-top: 70px;
	}
}
@keyframes cd-item-move-down-mobile {
	0% {
		padding-top: 0px;
	}
	100% {
		padding-top: 70px;
	}
}
@-webkit-keyframes cd-item-move-down {
	0% {
		padding-top: 0px;
	}
	100% {
		padding-top: 104px;
	}
}
@keyframes cd-item-move-down {
	0% {
		padding-top: 0px;
	}
	100% {
		padding-top: 104px;
	}
}
@-webkit-keyframes cd-item-slide-out {
	0% {
		-webkit-transform: translateX(0);
						transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(80px);
						transform: translateX(80px);
		opacity: 0;
	}
}
@keyframes cd-item-slide-out {
	0% {
		-webkit-transform: translateX(0);
						transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(80px);
						transform: translateX(80px);
		opacity: 0;
	}
}
@-webkit-keyframes cd-item-slide-in {
	100% {
		-webkit-transform: translateX(0);
						transform: translateX(0);
		opacity: 1;
	}
	0% {
		-webkit-transform: translateX(80px);
						transform: translateX(80px);
		opacity: 0;
	}
}
@keyframes cd-item-slide-in {
	100% {
		-webkit-transform: translateX(0);
						transform: translateX(0);
		opacity: 1;
	}
	0% {
		-webkit-transform: translateX(80px);
						transform: translateX(80px);
		opacity: 0;
	}
}
