* {
	box-sizing: border-box;
	outline: none;
}

a {
	text-decoration: none;
}

.grid-login {
	width: calc(100% - 40px);
	max-width: 490px;
	padding: 0 20px;
	margin: 0 auto;
}

.content-header {
	color: rgba(14, 20, 26, 0.8);
	font-family: "Galano Bold", sans-serif;
	font-size: 29px;
	line-height: 60px;
	margin: 48px auto 12px;
	text-align: center;
	position: relative;
	top: -3px;
	letter-spacing: 0.003em;
}

.content-body {
	-webkit-transition: box-shadow 0.3s ease-in-out;
	transition: box-shadow 0.3s ease-in-out;
	box-shadow: 0 2px 12px rgba(14, 20, 26, 0.12);
	border-radius: 4px;
	padding: 24px 20px;
	margin-bottom: 24px;
}

.content-body .form {
	display: block;
	margin-top: 0em;
}

.form-group {
	margin-bottom: 36px;
}

.form-group label {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: rgba(14, 20, 26, 0.6);
	margin-left: 2px;
	line-height: 24px;
	position: relative;
	top: -4px;
}

.form-control {
	font-family: "Galano Semibold", sans-serif;
	font-weight: 400;
	font-size: 14px;

	color: rgba(14, 20, 26, 0.8);

	background: rgba(14, 20, 26, 0.05);
	box-shadow: none;
	
	display: block;
	width: 100%;
	height: 60px;

	padding: 0 20px;
	border: 0;

	-webkit-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

.form-control:hover {
	background: rgba(14, 20, 26, 0.1);
}

.btn-wrapper {
	margin: 24px 0 0;
	text-align: center;
}

.btn {
	font-family: "Galano Bold", sans-serif;
	padding: 0 20px;
	min-width: 140px;

	font-size: 16px;
	line-height: 60px;
	border-radius: 4px;
	border: 0px solid transparent;

	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
}

.btn.btn-success {
	color: #fff;
	background-color: #00d46a;
}

.btn.btn-social {
    color: #fff;
    font-weight: normal;
    width: calc(50% - 10px);
    padding: 0;
    height: 60px;
    overflow: hidden;
    position: relative;
}

.btn.btn-social .btn-content {
    -webkit-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
	color: #fff;
    text-align: center;
}

.btn.btn-social:hover .btn-content {
    top: -60px;
}

.btn.btn-social .btn-label {
    width: 100%;
    line-height: 60px;
    height: 60px;
}

.btn.btn-google {
    background: #4285f4;
}

.btn.btn-google .icon-google {
    width: 100%;
    height: 60px;
    display: block;
    background: url(images/icon-google-white.png) no-repeat center center;
    background-size: 32px 32px;
}

.btn.btn-facebook {
    background: #3b5998;
}

.btn.btn-facebook .icon-16-facebook {
    font-size: 32px;
    line-height: 60px;
    display: block;
}

.info-small {
	color: rgba(14, 20, 26, 0.4);
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	margin: 12px 0 18px;
	padding: 0;
	font-family: "Galano Semibold", sans-serif;
	font-weight: 400;
	position: relative;
	top: -1px;
	letter-spacing: 0.003em;
}

.info-small a {
	-webkit-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	font-family: "Galano Semibold", sans-serif;
	color: #00d46a;
	font-weight: 400;
}

.info-small a:hover {
	color: rgba(0, 212, 106, 0.6);
}

.info-small.social {
	margin: -10px 0 10px;
	line-height: 36px;
	letter-spacing: 0em;
}

.col-flex-row-spacebetween-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}