<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataUrl</key>
	<string>data.easley84.wedeploy.io</string>
	<key>authUrl</key>
	<string>auth.easley84.wedeploy.io</string>
</dict>
</plist>
